version: 1

source:
  endpoint-url: 'opc.tcp://celanese-nodered:4840/'
  keep-alive-interval: 10000
  # username: 
  # password: 


dry-run: false # set to false when you want to publish data to CDF Cloud instance


logger:
  ua-trace-level: verbose
  ua-session-tracing:
  console:
    level: verbose
  file:
    level: verbose
    path: 'logs/cdf.log'
    retention-limit: 31
    rolling-interval: "day"


cognite:
   # The project to connect to in the API, uses the environment variable COGNITE_PROJECT.

    host: "https://az-eastus-1.cognitedata.com"
    project: ${CDF_DEV_PROJECT}


    data-set:
        # read-extracted-ranges: true
        # Data set internal id.
        # id: "opcua_test_data_set"
        # Data set external id. Requires the capability datasets:read for the given data set.
        external-id: "opcua_test_data_set"

    # If this is set to true, credentials can be left out, and the extractor
    # will read data without pushing it to CDF.
    debug: false

    # This is for microsoft as IdP, to use a different provider,
    # set implementation: Basic, and use token-url instead of tenant.
    # See the example config for the full list of options.
    idp-authentication:
        authority: "https://login.microsoft.com/"
        tenant: ${CDF_TENANT}
        client-id: ${CDF_DEV_ID}
        secret: ${CDF_DEV_SECRET}
        scopes:
          - "https://az-eastus-1.cognitedata.com/.default"
        implementation: MSAL
        min-ttl: 30
 
extraction:
    # Global prefix for externalId in destinations. Should be unique to prevent name conflicts.
    id-prefix: "gp:"
    data-types:    
        
        # Set to true to allow fetching string variables. This means that all variables with non-numeric type is converted to string in some way.
        allow-string-variables: true

        # Add a metadata property dataType which contains the id of the OPC-UA datatype.
        data-type-metadata: true    
 
        # Add attributes generally used internally like AccessLevel, Historizing, ArrayDimensions, ValueRank etc.
        # to data pushed to Raw.
        append-internal-values: true

        #influx:
        #host: 'http://emerson-influxdb:8086'
        #username: service
        #password: edgestack
        #database: data

subscriptions:
    data-points: true
failure-buffer:
    enabled: true
